In [9]:
Number_of_People = input("Enter number of people: ")
Number_of_Seats_Per_Bus = input("Enter number of seats per bus: ")
P = int(Number_of_People)
S = int(Number_of_Seats_Per_Bus)
print(P/S)

Enter number of people:  100
Enter number of seats per bus:  2

50.0

In [13]:
User_Temperature = input("Take temperature from user: ")
C = float(User_Temperature)
F = (C * 9/5) + 32
print(F)

Take temperature from user:  100

212.0

In [15]:
User_Temperature = input("Take temperature from user: ")
C = float(User_Temperature)
F = (C * 9/5) + 32
print(F)

Take temperature from user:  96

204.8

In [17]:
Number_of_People = input("Enter number of people: ")
Number_of_Seats_Per_Bus = input("Enter number of seats per bus: ")
P = int(Number_of_People)
S = int(Number_of_Seats_Per_Bus)
print(P/S)

Enter number of people:  200
Enter number of seats per bus:  12

16.666666666666668

In [19]:
Number_of_People = input("Enter number of people: ")
Number_of_Seats_Per_Bus = input("Enter number of seats per bus: ")
P = int(Number_of_People)
S = int(Number_of_Seats_Per_Bus)
print(P//S)

Enter number of people:  150
Enter number of seats per bus:  13

11

In [21]:
User_Temperature = input("Take temperature from user: ")
F = float(User_Temperature)
C = 5/9 * (F-32)
print(C)

Take temperature from user:  100

37.77777777777778

In [23]:
User_Temperature = input("Take temperature from user: ")
F = float(User_Temperature)
C = 5/9 * (F-32)
print(C)

Take temperature from user:  150

65.55555555555556

In [25]:
x1 = input("Enter number1: ")
x2 = input("Enter number2: ")
x3 = input("Enter number3: ")
x4 = input("Enter number4: ")
print((x1+x2)**2, (x3+x4)**3)

Enter number1:  10
Enter number2:  10
Enter number3:  10
Enter number4:  10

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [27]:
x1 = int(input("Enter number1: "))
x2 = int(input("Enter number2: "))
x3 = int(input("Enter number3: "))
x4 = int(input("Enter number4: "))
print((x1+x2)**2, (x3+x4)**3)

Enter number1:  15
Enter number2:  15
Enter number3:  15
Enter number4:  15

900 27000

In [29]:
x1 = int(input("Enter number1: "))
x2 = int(input("Enter number2: "))
x3 = int(input("Enter number3: "))
x4 = int(input("Enter number4: "))
print((x1+x2)**2, (x3+x4)**3)

Enter number1:  10
Enter number2:  10
Enter number3:  10
Enter number4:  10

400 8000

In [31]:
#S^2 = (1/n-1)(xi - X^_)**2

In [35]:
x1 = int(input("Enter number1: "))
x2 = int(input("Enter number2: "))
x3 = int(input("Enter number3: "))
x4 = int(input("Enter number4: "))
N = int(input("no. of elements: "))
mean=float(x1+x2+x3+x4/N)
variance=((x1-mean)**2+(x2-mean)**2+(x3-mean)**2+(x4-mean)**2)*(1/N-1)
print(variance)

Enter number1:  10
Enter number2:  10
Enter number3:  10
Enter number4:  10
no. of elements:  4

-1518.75

In [37]:
x1 = int(input("Enter number1: "))
x2 = int(input("Enter number2: "))
x3 = int(input("Enter number3: "))
x4 = int(input("Enter number4: "))
N = int(input("no. of elements: "))
mean=float(x1+x2+x3+x4/N)
variance=((x1-mean)**2+(x2-mean)**2+(x3-mean)**2+(x4-mean)**2)*(1/N-1)
print(variance)

Enter number1:  15
Enter number2:  15
Enter number3:  15
Enter number4:  15
no. of elements:  4

-3417.1875

In [2]:
x1 = int(input("Enter number1: "))
x2 = int(input("Enter number2: "))
x3 = int(input("Enter number3: "))
x4 = int(input("Enter number4: "))
N = int(input("no. of elements: "))
mean=float(x1+x2+x3+x4/N)
variance=((x1-mean)**2+(x2-mean)**2+(x3-mean)**2+(x4-mean)**2)/(N-1)
print(variance)
standard_deviation = variance ** 0.5
print(standard_deviation)

Enter number1:  1
Enter number2:  2
Enter number3:  3
Enter number4:  4
no. of elements:  4

28.666666666666668
5.354126134736337

In [49]:
import math
x1 = int(input("Enter number1: "))
x2 = int(input("Enter number2: "))
x3 = int(input("Enter number3: "))
x4 = int(input("Enter number4: "))
N = int(input("no. of elements: "))
mean=float(x1+x2+x3+x4/N)
variance=((x1-mean)**2+(x2-mean)**2+(x3-mean)**2+(x4-mean)**2)/(N-1)
print(variance)
print(math.sqrt(variance))

Enter number1:  1
Enter number2:  2
Enter number3:  3
Enter number4:  4
no. of elements:  4

28.666666666666668
5.354126134736337

In [8]:
import math
x1 = int(input("Enter number1: "))
x2 = int(input("Enter number2: "))
x3 = int(input("Enter number3: "))
x4 = int(input("Enter number4: "))
N = int(input("no. of elements: "))
mean=float(x1+x2+x3+x4/N)
variance=((x1-mean)**2+(x2-mean)**2+(x3-mean)**2+(x4-mean)**2)/(N-1)
print(variance)
print(math.sqrt(variance)) #standard_deviation = sqrt(variance)

Enter number1:  2
Enter number2:  2
Enter number3:  2
Enter number4:  2
no. of elements:  4

27.0
5.196152422706632

In [10]:


##Regression  y=mx+b

In [12]:
x1 = int(input("Enter number1: "))
x2 = int(input("Enter number2: "))
x3 = int(input("Enter number3: "))
x4 = int(input("Enter number4: "))
m=1.23
b=0.045
y=m*(x1+x2+x3+x4)+b
print(y)

Enter number1:  1
Enter number2:  2
Enter number3:  3
Enter number4:  4

12.345

In [14]:
##Average
x1 = int(input("Enter number1: "))
x2 = int(input("Enter number2: "))
x3 = int(input("Enter number3: "))
x4 = int(input("Enter number4: "))
N = int(input("no. of elements: "))
mean=float(x1+x2+x3+x4/N)
print(mean)

Enter number1:  1
Enter number2:  2
Enter number3:  3
Enter number4:  4
no. of elements:  4

7.0

In [16]:
#Find the sum of four numbers

In [20]:
x1 = int(input("Enter number1: "))
x2 = int(input("Enter number2: "))
x3 = int(input("Enter number3: "))
x4 = int(input("Enter number4: "))
X=(x1+x2+x3+x4)
print(X)

Enter number1:  1
Enter number2:  5
Enter number3:  9
Enter number4:  5

20

In [22]:
###Conversion of distance km's to multiple units

In [24]:
A = float(input("Take Distance in km's: "))

Enter Distance in km's:  10

In [30]:
#in meters
A = float(input("Take Distance in km's: "))
meters = A * 1000
print(meters)

Enter Distance in km's:  10

10000.0

In [32]:
#in cm's
A = float(input("Take Distance in km's: "))
centimeters = A * 1000 * 100
print(centimeters)

Take Distance in km's:  10

1000000.0

In [34]:
#in mm's
A = float(input("Take Distance in km's: "))
millimeters = A * 1000 * 100 * 10
print(millimeters)

Take Distance in km's:  10

10000000.0

In [44]:
#1 Cent is equal to: 0.01 acre, 48.4 square yard, 435.6 sqft, 62726.440144922 square Inch, 0.4 gunta
#24712.80747 cents = 1 sq km
#in cents:
A = float(input("Take Distance in km's: "))
cents = ((A**2)*24712.80747)
print(cents)

Take Distance in km's:  10

2471280.747

In [40]:
#Formula for converting km² to cents:
#Cents=Area in km²×100×247.105
A = float(input("Take Distance in km's: "))
cents = (A**2 * 100 * 247.105)
print(cents)

Take Distance in km's:  10

2471050.0

In [48]:
#Square feet=Cents×435.6

A = float(input("Take Distance in km's: "))
cents = (A**2 * 100 * 247.105)
print(cents)
feet = ((cents * 435.6) ** 0.5)
print(feet)

Take Distance in km's:  10

2471050.0
32808.373626255845

In [50]:
#yard = feet/3
A = float(input("Take Distance in km's: "))
cents = (A**2 * 100 * 247.105)
print(cents)
feet = ((cents * 435.6) ** 0.5)
print(feet)
yard = (feet / 3)
print(yard)

Take Distance in km's:  10

2471050.0
32808.373626255845
10936.124542085281

In [52]:
A = float(input("Take Distance in km's: "))
meters = A * 1000
print(meters)
centimeters = A * 1000 * 100
print(centimeters)
millimeters = A * 1000 * 100 * 10
print(millimeters)
cents = (A**2 * 100 * 247.105)
print(cents)
feet = ((cents * 435.6) ** 0.5)
print(feet)
yard = (feet / 3)
print(yard)

Take Distance in km's:  10

10000.0
1000000.0
10000000.0
2471050.0
32808.373626255845
10936.124542085281

In [54]:



##6.Take the size of your hard disk in GB, Show that in MB, KB, TB, PB

In [56]:
# 1GB = 1024 MB
Bytes = int(input("Take size of hard disk in GB: "))
mb = Bytes * 1024
print(mb)

Take size of hard disk in GB:  1

1024

In [58]:
# 1GB = 1024 MB
Bytes = int(input("Take size of hard disk in GB: "))
mb = Bytes * 1024
print(mb)

Take size of hard disk in GB:  10

10240

In [60]:
# 1GB = 1,048,576 KB
Bytes = int(input("Take size of hard disk in GB: "))
mb = Bytes * 1024
print(mb)
kb = Bytes * 1048576
print(kb)

Take size of hard disk in GB:  10

10240
10485760

In [62]:
Bytes = int(input("Take size of hard disk in GB: "))
mb = Bytes * 1024
print(mb)
kb = mb * 1024 * 1024
print(kb)

Take size of hard disk in GB:  10

10240
10737418240

In [64]:
#1tb=1024gb
#1gb=tb/1024
Bytes = int(input("Take size of hard disk in GB: "))
mb = Bytes * 1024
print(mb)
kb = mb * 1024 * 1024
print(kb)
tb = Bytes * 0.001
print(tb)

Take size of hard disk in GB:  10

10240
10737418240
0.01

In [68]:
t= 10/1024
t

0.009765625

In [70]:
#1pb=1024tb
#1pb=1024*1024gb
Bytes = int(input("Take size of hard disk in GB: "))
mb = Bytes * 1024
print(mb)
kb = mb * 1024 * 1024
print(kb)
tb = Bytes * 0.001
print(tb)
pb = Bytes * 0.000001
print(pb)

Take size of hard disk in GB:  10

10240
10737418240
0.01
9.999999999999999e-06

In [72]:
t=10/1048576
t

9.5367431640625e-06

In [80]:


#7. Take name, age, height from the user and print like below 
#The details of the person: Name:name of the person, Age:age of the person, Height:height of the person
#Note: make sure that no space between : and a value and should be space after “COMA”

Name = input("Take name: ")
Age = input("Take age: ")
Height = input("Take height of the person: ")
person = "The details of the person: Name:"+Name+", Age:"+Age+", Height:"+Height+" of the person"
print(person)

Take name:  Asee
Take age:  26
Take height of the person:  5.4

The details of the person: Name:Asee, Age:26, Height:5.4 of the person

In [94]:



###BMI= weight(kg)/height(m*m)
W = input("Take weight: ")
H = float(input("Take height: "))
BMI = (W / H ** 2)
print(BMI)

Take weight:  60
Take height:  5.5

TypeError: unsupported operand type(s) for /: 'str' and 'float'

In [96]:



###BMI= weight(kg)/height(m*m)
W = float(input("Take weight: "))
H = float(input("Take height: "))
BMI = (W / H ** 2)
print(BMI)

Take weight:  55
Take height:  5

2.2

In [98]:
#By using above inputs print the output, Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344
#Note: Use format specifiers(%s, %d, %f)
name = "Jayaram"
age = 1.6
height = 3.5356234
weight = 10.343856783

print("Name: %s, Age: %.1f, Height: %.2f, Weight: %.3f" % (name, age, height, weight))

Name: Jayaram, Age: 1.6, Height: 3.54, Weight: 10.344

In [100]:

#Convert three uppercase letters from the user to lowercase

letters = input("Enter three uppercase letters: ")
lowercase_letters = letters.lower()

print("Lowercase: %s" % lowercase_letters)

Enter three uppercase letters:  APPLE BOY CAT

Lowercase: apple boy cat

In [106]:
#Take base and exponent and print in mathematical form
#example: base=2, exponent=3: 23
#Use: 2\u00b3

base = int(input("Enter the base: "))
exponent = int(input("Enter the exponent: "))
print("Result: %d\u00b3" % base if exponent == 3 else f"{base}^{exponent}")

Enter the base:  2
Enter the exponent:  3

Result: 2³

In [108]:
#Take groceries cost prices and calculate total, average, max, and min

x1 = float(input("Enter number1: "))
x2 = float(input("Enter number2: "))
x3 = float(input("Enter number3: "))
x4 = float(input("Enter number4: "))
total=(x1+x2+x3+x4)
print(total)

Enter number1:  12.3
Enter number2:  25.6
Enter number3:  15.4
Enter number4:  47.8

101.1

In [112]:
x1 = float(input("Enter number1: "))
x2 = float(input("Enter number2: "))
x3 = float(input("Enter number3: "))
x4 = float(input("Enter number4: "))
N = int(input("no. of elements: "))
total=(x1+x2+x3+x4)
Average = total/N
Maximum = max(total)
Minimum = min(total)
print(total)
print(Average)
print(Maximum)
print(Minimum)

Enter number1:  12
Enter number2:  23
Enter number3:  34
Enter number4:  45
no. of elements:  4

TypeError: 'float' object is not iterable

In [114]:
x1 = float(input("Enter number1: "))
x2 = float(input("Enter number2: "))
x3 = float(input("Enter number3: "))
x4 = float(input("Enter number4: "))
N = int(input("no. of elements: "))
total=(x1+x2+x3+x4)
Average = total/N
Maximum = max(total.split())
Minimum = min(total.split())
print(total)
print(Average)
print(Maximum)
print(Minimum)

Enter number1:  12
Enter number2:  23
Enter number3:  34
Enter number4:  45
no. of elements:  4

AttributeError: 'float' object has no attribute 'split'

In [120]:
x1 = float(input("Enter number1: "))
x2 = float(input("Enter number2: "))
x3 = float(input("Enter number3: "))
x4 = float(input("Enter number4: "))
N = int(input("no. of elements: "))
total=(x1+x2+x3+x4)
Average = total/N
#Maximum = int(max(total.split()))
#Minimum = int(min(total.split()))
print(total)
print(Average)
#print(Maximum)
#print(Minimum)

Enter number1:  10
Enter number2:  20
Enter number3:  30
Enter number4:  40
no. of elements:  4

100.0
25.0