In [7]:
import math
k = int(input("Enter Total number of people:"))
s = int(input("Enter Number of seats for bus:"))
z  = math.ceil(k/s) 
print(z)

Enter Total number of people: 12
Enter Number of seats for bus: 4

3

In [34]:
foreign_heat = float(input("Enter a temperature :"))
Celsius = foreign_heat - 32 /1.8
print(f'{Celsius:.2f}C' )

Enter a temperature : 12

-5.78C

In [38]:
Celsius = float(input("Enter a temperature :"))
foreign_heat = (Celsius * 1.8) + 32
print(f'{Celsius:.2f}F' )

Enter a temperature : 12

12.00F

In [22]:
import math
import statistics
x1 = int(input("Enter any number:"))
x2 = int(input("Enter any number:"))
x3 = int(input("Enter any number:"))
x4 = int(input("Enter any number:"))
k=(x1+x2)**2 
s=(x3+x4)**3
x = [x1, x2, x3, x4]
varience  = statistics.variance(x) 
z = varience **0.5
print ("standard_devitation :",z)
standard_devitation = math.sqrt(varience) 
print ("k value : ",k)
print ("s value : ",s)
print( "varience : ", varience)
print ( "standard_dev:",standard_devitation)
#y = mx+c
m = 1.23
b = 0.045
x = x1+x2+x3+x4
y = 1.23 * x + b
print("y value :",y)
average  =(x1+x2+x3+4)/4
print("average :",average)
sume = x1+x2+x3+x4
print("sume :",sume)

Enter any number: 12
Enter any number: 13
Enter any number: 14
Enter any number: 15

standard_devitation : 1.2909944487358056
k value :  625
s value :  24389
varience :  1.6666666666666667
standard_dev: 1.2909944487358056
y value : 66.465
average : 10.75
sume : 54

In [86]:

km = float(input("Enter distance in kilometers: "))
METERS = km * 1000
CM = METERS * 100
MILLI_METERS = METERS * 1000
FEETS = METERS * 3.28084
YARDS = METERS * 1.09361
#Show that in cm, meters, in milli meters, cents, feets, yards
print(f"METERS: {METERS:.2f} m")
print(f"CM: {CM:.2f} cm")
print(f"MILLI_METERS: {MILLI_METERS:.2f} mm")
print(f"FEETS: {FEETS:.2f} ft")
print(f"YARDS: {YARDS:.2f} yd")

Enter distance in kilometers:  12

METERS: 12000.00 m
CM: 1200000.00 cm
MILLI_METERS: 12000000.00 mm
FEETS: 39370.08 ft
YARDS: 13123.32 yd

In [18]:
GB = float(input("Enter size of hard disk : "))
MB = GB * 1024        
KB = MB * 1024        
TB = GB / 1024        
PB = TB / 1024   

print("MB : ",MB)
print("KB : ",KB)
print("TB : ",TB)
print("PB : ",PB)

Enter size of hard disk :  12

MB :  12288.0
KB :  12582912.0
TB :  0.01171875
PB :  1.1444091796875e-05

In [ ]:
#7.  Take name, age, height from the user and print like below
#The details of the person: Name:name of the person, Age:age of the person, Height:height of the person

In [36]:
x = input("Enter your name :")
y = int(input("Enter your age :"))
z = float(input("enter your height :"))
#The details of the person: Name:name of the person, Age:age of the person, Height:height of the person
print(f"The details of the person: Name: {x } of the person ,Age: {y} of the person Height: { z } of the person")

Enter your name : kishore
Enter your age : 23
enter your height : 6.0

The details of the person: Name: kishore of the person ,Age: 23 of the person Height: 6.0 of the person

In [44]:
WEIGHT = float(input("Enter your weight :"))
HEIGHT = float(input("Enter your height :"))
BMI = WEIGHT / (HEIGHT ** 2)
print(f"BMI :{BMI:.3f}")

Enter your weight : 90
Enter your height : 6.0

BMI :2.500

In [66]:
name = "Jayaram"
age = 1.6
height = 3.5356234
weight = 10.343856783
print ("NAME : %s ,AGE : %.2f,HEIGHT : %.3f,WEIGHT: %.3f" %(name,age,height,weight))

NAME : Jayaram ,AGE : 1.60,HEIGHT : 3.536,WEIGHT: 10.344

In [72]:
#10. Take three upper case letters from the user convert in to small case.
x = input("enter your name ")
k = x.lower()
k

enter your name  KISHORE

'kishore'

In [78]:
#12. Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost.
# Take the number of grocery items from the user
groceries_cost_prices1 = int(input("enter your price "))
groceries_cost_prices2 = int(input("enter your price "))
groceries_cost_prices3 = int(input("enter your price "))
groceries_cost_prices4 = int(input("enter your price "))
x = [groceries_cost_prices1,groceries_cost_prices2,groceries_cost_prices3,groceries_cost_prices4]
r = sum(x)
k = len(x)

Total_cost = groceries_cost_prices1 + groceries_cost_prices2 + groceries_cost_prices3 + groceries_cost_prices4
print("Total_cost :",Total_cost)
average_cost = r/k
print("average_cost: ",average_cost)
max_cost = max(x)
print("max_cost: ",max_cost)
min_cost =min(x)
print("min_cost: ",min_cost)

enter your price  12
enter your price  13
enter your price  14
enter your price  15

Total_cost : 54
average_cost:  13.5
max_cost:  15
min_cost:  12