In [61]:
import math
people=int(input())
seats=int(input())
buses=math.ceil(people/seats)
print("buses",buses)

 269
 40

buses 7

In [11]:
fh = float(input("temp in fh: "))
celsuis = (fh-32)*5/9
print(f"{fh}°F = {celsuis:.2f}°C")

temp in fh:  102.9

102.9°F = 39.39°C

In [15]:
celsuis = float(input("temp in cls: "))
fh = (celsuis* 9/5) + 32
print(f"{celsuis:.2f}°C = {fh}°F")

temp in cls:  42.5

42.50°C = 108.5°F

In [25]:
x1 = float(input("x1: "))
x2 = float(input("x2: "))
x3 = float(input("x3: "))
x4 = float(input("x4: "))

result1 = (x1 + x2)**2
result2 = (x3 + x4)**3

num = [x1, x2, x3, x4]
mean = sum(num) / len(num)
variance = sum((xi - mean) ** 2 for xi in num) / len(num)

# 3. Calculate standard deviation
std_deviation = (variance)**0.5

# 4. Calculate regression (y = mx + b, where m = 1.23 and b = 0.045)
m = 1.23
b = 0.045
y = m * (x1 + x2 + x3 + x4) + b

average = mean

total_sum = sum(num)

print(f"(x1 + x2)^2 = {result1:.2f}")
print(f"(x3 + x4)^3 = {result2:.2f}")
print(f"Variance = {variance:.2f}")
print(f"Standard Deviation = {std_deviation:.2f}")
print(f"Regression (y = mx + b) = {y:.2f}")
print(f"Average of the four numbers = {average:.2f}")
print(f"Sum of the four numbers = {total_sum:.2f}")

x1:  5
x2:  94
x3:  68
x4:  88

(x1 + x2)^2 = 9801.00
(x3 + x4)^3 = 3796416.00
Variance = 1243.19
Standard Deviation = 35.26
Regression (y = mx + b) = 313.69
Average of the four numbers = 63.75
Sum of the four numbers = 255.00

In [37]:
km = float(input("Enter kilometers: "))

mtrs = km * 1000
cm = mtrs * 100
mm = mtrs * 1000
feet = mtrs * 3.28084
yards = mtrs * 1.09361
print(f"{km} kms = {mtrs} mtrs \n{km} kms = {cm} cms \n{km} kms = {mm} mms \n{km} kms = {feet}feets \n{km} kms ={yards}yards")

Enter kilometers:  36.2

36.2 kms = 36200.0 mtrs
36.2 kms = 3620000.0 cms
36.2 kms = 36200000.0 mms
36.2 kms = 118766.408feets
36.2 kms =39588.682yards

In [59]:
gb = float(input("hard disk in GB: "))

mb = gb * 1024
kb = mb * 1024
tb = gb / 1024
pb = tb / 1024
print(f"your hard disk {mb:.2f} MBS")
print(f"your hard disk {kb:.2f} KBS")
print(f"your hard disk {tb:.2f} TB")
print(f"your hard disk {pb:.2f} PB")

hard disk in GB:  512

your hard disk 524288.00 MBS
your hard disk 536870912.00 KBS
your hard disk 0.50 TB
your hard disk 0.00 PB

In [73]:
name=input()
age=int(input())
height=float(input())
print(f"The details of the person:name:{name},age:{age},Height:{height}")

 Badireddy
 24
 5.9

The details of the person:name:Badireddy,age:24,Height:5.9

In [85]:
weight=float(input("your weight"))
height=float(input("your height"))
bmi = weight/(height**2)
print(f"your BMI is:{bmi:.2f}")
if bmi < 1:
    print("You are underweight.")
elif 1 <= bmi < 2:
    print("You have a normal weight.")
elif 2 <= bmi < 5:
    print("You are overweight.")
else:
    print("You are obese.")

your weight 64
your height 5.9

your BMI is:1.84
You have a normal weight.

In [113]:
name="Jayaram"

age=1.6

height=3.5356234

weight=10.343856783
print("name:%s"%name,",Age:%d"%age,",Height:%.2f"%height,",Weight:%.2f"%weight)

name:Jayaram ,Age:1 ,Height:3.54 ,Weight:10.34

In [153]:
a = input()
b = a.lower()
print(b)

 ABC

abc

In [155]:
a = input()
b = a.upper()
print(b)

 abnd

ABND

In [137]:
base = int(input())
exponent = int(input())
print(f"{base}\u00b3")   
#base\u2074   4 in power 
#base\u2075   5 in power
#{base}\u00b9\u2070{exponent_str[1]}")  # For displaying "2¹⁰"

 2
 3

2³

In [143]:
cost = int(input())
cost1 = int(input())
cost2 = int(input())
total_cost = cost+cost1+cost2
avg_cost = total_cost/3
print("total_cost: ",total_cost)
print(f"avg_cost: {avg_cost:.2f}")

 987
 4365
 95

total_cost:  5447
avg_cost: 1815.67

In [149]:
num_items = int(input("Enter the number of grocery items: "))

costs = []

for i in range(num_items):
    cost = float(input(f"Enter the cost of item {i+1}: "))
    costs.append(cost)

total_cost = sum(costs)

average_cost = total_cost / num_items

max_cost = max(costs)

min_cost = min(costs)

print(f"Total cost: Rs.{total_cost:.2f}")
print(f"Average cost:Rs.{average_cost:.2f}")
print(f"Maximum cost: Rs.{max_cost:.2f}")
print(f"Minimum cost: Rs.{min_cost:.2f}")

Enter the number of grocery items:  5
Enter the cost of item 1:  652
Enter the cost of item 2:  693
Enter the cost of item 3:  1253
Enter the cost of item 4:  694
Enter the cost of item 5:  3652

Total cost: Rs.6944.00
Average cost:Rs. 1388.80
Maximum cost: Rs.3652.00
Minimum cost: Rs.652.00