# Assignments on variables expressions and statements

### 1. Take the input from the user for(Total number of people,Number of seats for bus). Based on two inputs. 
### Decide how many number of buses required

In [3]:
people = int(input("number of people:"))
seats = int(input("number of seats:"))
buses = (people+seats-1)//seats
print(f"Number of buses: {buses}")

number of people: 2342
number of seats: 42

Number of buses: 56

### 2. Take temperature from the user and convert 
### Fahrenheit -> Celsius.

In [5]:
Fahrenheit = float(input("Enter Fahrenheit Temp: "))
Celsius = (Fahrenheit - 32) * 5/9
print(f"Enter the Celsius temp is {int(Celsius)}")

Enter Fahrenheit Temp:  24452

Enter the Celsius temp is 13566

### 3. Take temperature from the user and convert
### Celsius → Fahrenheit.

In [7]:
Celsius = float(input("Enter Celsius Temp: "))
Fahrenheit = (Celsius * 9/5) + 32
print(f"Enter the Fahrenheit temp is {int(Fahrenheit)}")

Enter Celsius Temp:  24532

Enter the Fahrenheit temp is 44189

### 4. take four number from the user (variables name it as x1,x2,x3,x4)
```
 Do the below operations
 (x1+x2)**2, (x3+x4)**3
    variance
    standard deviation: sqrt(variance):  User math module. Math.sqrt(variance)
    Regression
	y=mx+b
    m=1.23
    b=0.045
    find out y
    y=m*(x1+x2+x3+x4)+b
Find the average of four numbers
Find the sum of four numbers
```

In [47]:
#import math
x1 = int(input())
x2 = int(input())
x3 = int(input())
x4 = int(input())
res1 = (x1+x2)**2
res2 = (x3+x4)**3
mean = (x1+x2+x3+x4)/4
varience = ((x1-mean)**2 + (x2-mean)**2 + (x3-mean)**2 + (x4-mean)**2)/4
std_dev = math.sqrt(varience)
y = 1.23*(x1+x2+x3+x4)+0.045
avg = mean
sum_of_four = x1+x2+x3+x4
print(res1)
print(res2)
print(varience)
print(std_dev)
print(y)
print(avg)
print(sum_of_four)

 1
 3
 4
 5

16
729
2.1875
1.479019945774904
16.035
3.25
13

### 5. Take the distance in km
### Show that in cm, meters, in milli meters, cents, feets, yards

In [9]:
Kilometers = float(input("Enter no. of Kilometers: "))
centimeters = Kilometers * 100000 
meters = Kilometers * 1000 
millimeters = Kilometers * 1000000
cents = Kilometers * 0.13275 
feets = Kilometers * 3280.84
yards = Kilometers * 1093.61
print(f" Kilometers: {centimeters: .2f} cm")  
print(f" Kilometers: {meters: .2f} m")  
print(f" Kilometers: {millimeters: .2f} mm")  
print(f" Kilometers: {cents: .3f} cents")  
print(f" Kilometers: {feets: .2f} feets")  
print(f" Kilometers: {yards: .2f} yards")

Enter no. of Kilometers:  242

 Kilometers:  24200000.00 cm
 Kilometers:  242000.00 m
 Kilometers:  242000000.00 mm
 Kilometers:  32.126 cents
 Kilometers:  793963.28 feets
 Kilometers:  264653.62 yards

### 6.Take the size of your hard disk in GB
### Show that in MB, KB, TB, PB

In [11]:
GB = int(input("Enter size of hard disk in GB: "))
MB = GB * 1024
KB = GB * 1048576
TB = GB / 1024
PB = GB / (1024*1024)
print(f" GB is {MB}mb")
print(f" GB is {KB}kb")
print(f" GB is {TB:.2f}tb")
print(f" GB is {PB:.2f}pb")

Enter size of hard disk in GB:  23

 GB is 23552mb
 GB is 24117248kb
 GB is 0.02tb
 GB is 0.00pb

### 7. Take name, age, height from the user and print like below. 
### The details of the person: Name:name of the person, Age:age of the person, Height:height of the person. 
### Note: make sure that no space between : and a value and should be space after “COMA”

In [13]:
Name = input(" Enter name of person: ")
Age = input(" Enter age of person: ")
Height = input(" Enter height of person: ")
print(f" The details of the person: Name:{Name}, Age:{Age}, Height:{Height}")

 Enter name of person:  23
 Enter age of person:  432
 Enter height of person:  432

 The details of the person: Name:23, Age:432, Height:432

### 8. BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person.

In [15]:
Weight = float(input("Enter the weight: "))
Height = float(input("Enter the height: "))
BMI = Weight / (Height ** 2)
print(f"your BMI is :{BMI:.2f}")

Enter the weight:  23
Enter the height:  43

your BMI is :0.01

### 9. Write a program
### name="Jayaram", age=1.6, height=3.5356234, weight=10.343856783
### By using above inputs print the output
###   Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344
### Note: Use format specifiers(%s, %d, %f)

In [17]:
Name = "Jayaram"
Age =  1.6
Height = 3.5356234
Weight = 10.343856783
print(f"Enter details of person: \nName:%s, Age:%s, Height:%.2f, Weight:%.3f"%(Name, Age, Height, Weight))

Enter details of person:
Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344

### 10. Take three upper case letters from the user convert in to small case.

In [19]:
letter1 = input("Enter first upper case letter: ")
letter2 = input("Enter first upper case letter: ")
letter3 = input("Enter first upper case letter: ")
First = chr(ord(f'{letter1}')+32)
Second =chr(ord(f'{letter2}')+32)
Third = chr(ord(f'{letter3}')+32)
print(f"{First}{Second}{Third}")

Enter first upper case letter:  A
Enter first upper case letter:  Q
Enter first upper case letter:  W

aqw

### 11. take base and exponent value from the user and print like in mathematics:
### example: base=2, exponent=3: 23
### Use: 2\u00b3

In [28]:
Base = int(input("Enter a base value: "))
Exponent=int(input(" Enter a Exponent: "))
Value = Base ** Exponent
print(f"{int(Base)}\u00b3 is {int(Value)}")
#print(f"{int(Base)}^{int(Exponent)} is {Value}")

Enter a base value:  2
 Enter a Exponent:  3

2³ is 8

### 12. Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost.

In [42]:
#import math
groceries = [35,45.3,200,45.6]
total = sum(groceries)
avg_cost = total/len(groceries)
max_cost = max(groceries)
min_cost = min(groceries)
print(f" Total cost for groceries: {total:.2f}")
print(f" Average cost for groceries: {avg_cost:.2f}")
print(f" Maximum cost for groceries: {max_cost}")
print(f" Minimum cost for groceries: {min_cost}")

 Total cost for groceries: 325.90
 Average cost for groceries: 81.48
 Maximum cost for groceries: 200
 Minimum cost for groceries: 35