### 1. Take the input from the user for(Total number of people,Number of seats for bus. Based on two inputs Decide how many number of buses required

In [1]:
passangers = int(input( "please enter the No. of passengers  : " ))
seats      = int(input("available seats :"))
no_of_buses_need = passangers // seats
print(no_of_buses_need)

please enter the No. of passengers  :  98
available seats : 16

6

### 2.take temperature from the user and convert foreign heat -> Celsius.

In [2]:
fahrenheit = float(input("Enter temperature in Fahrenheit: "))
celsius = (fahrenheit - 32) * 5/9
print(f"{fahrenheit}°F is equal to {celsius:.2f}°C")

Enter temperature in Fahrenheit:  95

95.0°F is equal to 35.00°C

### 3.take temperature from the user and convert Celsius → foreign heat.

In [3]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius}°C is equal to {fahrenheit}°F")

Enter temperature in Celsius:  45

45.0°C is equal to 113.0°F

### 4.take four number from the user (variables name it as x1,x2,x3,x4)

Do the below operations
(x1+x2)**2, (x3+x4)**3
variance
    standard deviation: sqrt(variance):  User math module. Math.sqrt(variance)
Regression
    	y=mx+b
          m=1.23
          b=0.045
          find out y
          y=m*(x1+x2+x3+x4)+b
 Find the average of four numbers
Find the sum of four numbers

In [15]:
# Taking four integer inputs from the user
import math 
x1 = int(input("Enter the value of x1: "))
x2 = int(input("Enter the value of x2: "))
x3 = int(input("Enter the value of x3: "))
x4 = int(input("Enter the value of x4: "))

# Calculating the expressions
result1 = (x1 + x2) ** 2
result2 = (x3 + x4) ** 3

# Printing the results
print("The result of (x1 + x2)^2 is:", result1)
print("The result of (x3 + x4)^3 is:", result2)

### mean value 
mean = (x1 + x2+ x3 + x4 )//4 
print(mean)
## Squared Differences
numbers = (x1 , x2, x3 , x4 )
sum_sqd_numbers = 0
sqd_numbers = []
for i in numbers:
    sqd = (i - mean) ** 2
    sum_sqd_numbers += sqd
    sqd_numbers.append(sqd)
variance = sum_sqd_numbers/(4-1)
print(" variance : ",variance)    
# standard deviationRegression
std_dev = math.sqrt(variance)
#print(std_dev)
# Regression

## y=mx+b
m=1.23
b=0.045
y  =  m * (x1+x2+x3+x4) +b
print("regression : ", y)
print("standard deviationRegression : ",std_dev)
print("average of four numbers : ",mean)
print("sum of 4 numbers : ",(x1+x2+x3+x4))

Enter the value of x1:  2
Enter the value of x2:  4
Enter the value of x3:  6
Enter the value of x4:  8

The result of (x1 + x2)^2 is: 36
The result of (x3 + x4)^3 is: 2744
5
 variance :  6.666666666666667
regression :  24.645000000000003
standard deviationRegression 2.581988897471611
average of four numbers :  5
sum of 4 numbers :  20

### 5. Take the distance in km Show that in cm, meters, in milli meters, cents, feets, yards

In [16]:
km = int(input("Enter distance in km: "))

# Conversions
meters = km * 1000
centimeters = km * 100000
millimeters = km * 1000000
feet = km * 3280.84
yards = km * 1093.61
# Convert km to square feet (assuming 1 km² = 10,763,910 square feet)
square_feet = (km ** 2) * 10763910
cents = square_feet / 435.56

# Output
print(f"Distance: {km} kilometers")
print(f"  Meters: {meters} m")
print(f"  Centimeters: {centimeters} cm")
print(f"  Millimeters: {millimeters} mm")
print(f"  Feet: {feet} ft")
print(f"  Yards: {yards} yd")
print(f"  Square Feet: {square_feet:.2f} sq ft")
print(f"  Cents: {cents:.2f} cent")

Enter distance in km : 45

Distance: 45 kilometers
  Meters: 45000 m
  Centimeters: 4500000 cm
  Millimeters: 45000000 mm
  Feet: 147637.80000000002 ft
  Yards: 49212.45 yd

### 6.Take the size of your hard disk in GB Show that in MB, KB, TB, PB

In [18]:
size_gb = int(input("Enter size of the disk :"))
mb = size_gb * 1024
kb = size_gb * 1024 * 1024
tb = size_gb / 1024
pb = size_gb / (1024 * 1024)

# Print the results
print(f"Size: {size_gb} GB")
print(f"  Megabytes: {mb} MB")
print(f"  Kilobytes: {kb} KB")
print(f"  Terabytes: {tb} TB")
print(f"  Petabytes: {pb} PB")

Enter size of the disk : 522

Size: 522 GB
  Megabytes: 534528 MB
  Kilobytes: 547356672 KB
  Terabytes: 0.509765625 TB
  Petabytes: 0.0004978179931640625 PB

###  7.  Take name, age, height from the user and print like below
The details of the person: Name:name of the person, Age:age of the person, Height:height of the person
Note: make sure that no space between : and a value and should be space after “COMA”

In [19]:
# Take user inputs
name = input("Enter your name: ")
age = input("Enter your age: ")
height = input("Enter your height (in cm): ")

# Print the details in the specified format
print(f"The details of the person: Name:{name}, Age:{age}, Height:{height}")

Enter your name:  naresh
Enter your age:  19
Enter your height (in cm):  22.1

The details of the person: Name:naresh, Age:19, Height:22.1

### 8. BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person

In [24]:
# Get user input for weight and height
weight = float(input("Enter your weight in kilograms (kg): "))
height = float(input("Enter your height in meters (m): "))
# Calculate BMI
bmi = weight / (height ** 2)
print(f"Your BMI is: {bmi:.2f}")
if bmi < 18.5:
    print("You are underweight.")
elif 18.5 <= bmi < 24.9:
    print("You have a normal weight.")
elif 25 <= bmi < 29.9:
    print("You are overweight.")
else:
    print("You are obese.")

Enter your weight in kilograms (kg):  75
Enter your height in meters (m):  1.557528

Your BMI is: 30.92
You are obese.

9. name="Jayaram"
age=1.6
height=3.5356234
weight=10.343856783
By using above inputs print the output
Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344
Note: Use format specifiers(%s, %d, %f)

In [25]:
name = "Jayaram"
age = 1.6
height = 3.5356234
weight = 10.343856783

print("Name: %s, Age: %.1f, Height: %.2f, Weight: %.3f" % (name, age, height, weight))

Name: Jayaram, Age: 1.6, Height: 3.54, Weight: 10.344

### 10. Take three upper case letters from the user convert in to small case.

In [26]:

letter1 = input("Enter the first uppercase letter: ")
letter2 = input("Enter the second uppercase letter: ")
letter3 = input("Enter the third uppercase letter: ")
lowercase1 = chr(ord(letter1) + 32)
lowercase2 = chr(ord(letter2) + 32)
lowercase3 = chr(ord(letter3) + 32)


print(f"Lowercase letters: {lowercase1}, {lowercase2}, {lowercase3}")

Enter the first uppercase letter:  A
Enter the second uppercase letter:  B
Enter the third uppercase letter:  H

Lowercase letters: a, b, h

### 11. take base and exponent value from the user and print like in mathematics: example: base=2, exponent=3: 23
Use: 2\u00b3

In [27]:
base = int(input("Enter the base: "))
exponent = int(input("Enter the exponent: "))

# Convert exponent to superscript using Unicode
superscripts = {
    '0': '\u2070', '1': '\u00b9', '2': '\u00b2', '3': '\u00b3', 
    '4': '\u2074', '5': '\u2075', '6': '\u2076', '7': '\u2077', 
    '8': '\u2078', '9': '\u2079'
}
exponent_str = ''.join(superscripts[digit] for digit in str(exponent))

# Display the result in the mathematical format
print(f"{base}{exponent_str}")

Enter the base:  5
Enter the exponent:  8

5⁸

### 12. Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost.

In [28]:
# Take input from the user for grocery costs (comma-separated)
costs = input("Enter the cost prices of groceries (comma-separated): ")

# Split the input string into a list of numbers and convert them to floats
cost_list = [float(cost) for cost in costs.split(",")]

# Calculate total cost, average cost, maximum cost, and minimum cost
total_cost = sum(cost_list)
average_cost = total_cost / len(cost_list)
max_cost = max(cost_list)
min_cost = min(cost_list)

# Display the results
print(f"Total Cost: {total_cost:.2f}")
print(f"Average Cost: {average_cost:.2f}")
print(f"Maximum Cost: {max_cost:.2f}")
print(f"Minimum Cost: {min_cost:.2f}")

Enter the cost prices of groceries (comma-separated):  5465

Total Cost: 5465.00
Average Cost: 5465.00
Maximum Cost: 5465.00
Minimum Cost: 5465.00

In [31]:
groceries = [35,45.3,200,45.6]
total = sum(groceries)
avg_cost = total/len(groceries)
max_cost = max(groceries)
min_cost = min(groceries)
print(f" Total cost for groceries: {total:.2f}")
print(f" Average cost for groceries: {avg_cost:.2f}")
print(f" Maximum cost for groceries: {max_cost}")
print(f" Minimum cost for groceries: {min_cost}")

 Total cost for groceries: 325.90
 Average cost for groceries: 81.48
 Maximum cost for groceries: 200
 Minimum cost for groceries: 35