In [65]:
total_people = int(input("Enter the total no of people: "))
seats_per_bus = int(input("Enter the no of seats per bus: "))
total=total_people/seats_per_bus 
print(total)

Enter the total no of people:  55
Enter the no of seats per bus:  45

1.2222222222222223

In [5]:
fahrenheit = float(input("Enter temperature in Fahrenheit: "))
celsius = (fahrenheit - 32) * 5 / 9
print(f"Temperature in Celsius: {celsius:.2f}")

Enter temperature in Fahrenheit:  95

Temperature in Celsius: 35.00

In [9]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9 / 5) + 32
print(f"Temperature in Fahrenheit: {fahrenheit:.2f}")

Enter temperature in Celsius:  35

Temperature in Fahrenheit: 95.00

In [79]:
import math
import statistics
x1 = int(input("Enter any First_number:"))
x2 = int(input("Enter any Sce_number:"))
x3 = int(input("Enter any Third_number:"))
x4 = int(input("Enter any Fourth_number:"))
k=(x1+x2)**2 
s=(x3+x4)**3
x = [x1, x2, x3, x4]

varience  = statistics.variance(x) 
z = varience **0.5
print ("standard_devitation :",z)
standard_devitation = math.sqrt(varience) 
print ("k value : ",k)
print ("s value : ",s)
print( "varience : ", varience)
print ( "standard_dev:",standard_devitation)
#y = mx+c
m = 1.23
b = 0.045
x = x1+x2+x3+x4
y = 1.23 * x + b
print("y value :",y)
average  =(x1+x2+x3+4)/4
print("average :",average)
sum = x1+x2+x3+x4
print("sum :",sume)

Enter any First_number: 7
Enter any Sce_number: 8
Enter any Third_number: 9
Enter any Fourth_number: 5

standard_devitation : 1.707825127659933
k value :  225
s value :  2744
varience :  2.9166666666666665
standard_dev: 1.707825127659933
y value : 35.715
average : 7.0
sum : 23

In [59]:
km = float(input("Enter distance in kilometers: "))
METERS = km * 1000
CM = METERS * 100
MILLI_METERS = METERS * 1000
FEETS = METERS * 3.28084
YARDS = METERS * 1.09361
#Show that in cm, meters, in milli meters, cents, feets, yards
print(f"METERS: {METERS:.2f} m")
print(f"CM: {CM:.2f} cm")
print(f"MILLI_METERS: {MILLI_METERS:.2f} mm")
print(f"FEETS: {FEETS:.2f} ft")
print(f"YARDS: {YARDS:.2f} yd")

Enter distance in kilometers:  54

METERS: 54000.00 m
CM: 5400000.00 cm
MILLI_METERS: 54000000.00 mm
FEETS: 177165.36 ft
YARDS: 59054.94 yd

In [61]:
GB = float(input("Enter size of hard disk : "))
MB = GB * 1024        
KB = MB * 1024        
TB = GB / 1024        
PB = TB / 1024   
 
print("MB : ",MB)
print("KB : ",KB)
print("TB : ",TB)
print("PB : ",PB)

Enter size of hard disk :  25

MB :  25600.0
KB :  26214400.0
TB :  0.0244140625
PB :  2.384185791015625e-05

In [35]:
name = input("Enter your name: ")
age = input("Enter your age: ")
height = input("Enter your height: ")

print(f"The Person deatils Name:{name}, Age:{age}, Height:{height}")

Enter your name:  Rajkumar
Enter your age:  29
Enter your height:  5.5

The Person deatils Name:Rajkumar, Age:29, Height:5.5

In [2]:
#body mass index bmi
weight = float(input("Enter your weight kg: "))
height = float(input("Enter your height in m: "))
bmi = weight / (height ** 2)

print(f"your bmi is: {bmi:.2f}")

Enter your weight kg:  45
Enter your height in m:  5.6

your bmi is: 1.43

In [33]:
name="Jayaram"
age= 1.6
height=3.5356234
weight=10.343856783
print("Name:%s, Age:%.1f, Height:%.2f, Weight:%.3f" % (name,age,height,weight))

Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344

In [41]:
a=input("Enter Any letters:");
b=a.lower()
print(b)

Enter Any letters: ABC

abc

In [55]:
base=2 
exponent=3
print(f"{base}\u00b3")

2Â³

In [ ]:
num_items = int(input("Enter the number of grocery items: "))
costs = []
for i in range(num_items):
    cost = float(input(f"Enter the cost of item {i+1}: "))
    costs.append(cost)
 
total_cost = sum(costs)
 
average_cost = total_cost / num_items
 
max_cost = max(costs)
 
min_cost = min(costs)
 
print(f"Total cost: Rs.{total_cost:.2f}")
print(f"Average cost:Rs.{average_cost:.2f}")
print(f"Maximum cost: Rs.{max_cost:.2f}")
print(f"Minimum cost: Rs.{min_cost:.2f}")