# Assignments on variables expressions and statements

### 1. Take the input from the user for(Total number of people,Number of seats for bus. Based on two inputs. Decide how many number of buses required

In [5]:
# Inputs for Number of people and seats
people = int(input("Enter total number of people:"))
seats = int(input("Enter number of seats for bus:"))
buses = (people+seats-1)//seats
print(f"Number of buses required is {buses}")

Enter total number of people: 93
Enter number of seats for bus: 30

Number of buses required is 4

### 2. take temperature from the user and convert Fahrenheit-> Celsius.

In [29]:
# Input to enter temperature in Fahrenheit
Fahrenheit = float(input("enter the temperature in Fahrenheit: "))
Celsius=(Fahrenheit-32)*5/9
print(f"Temperature in celsius is {Celsius}")

enter the temperature in Fahrenheit:  97.8

Temperature in celsius is 36.55555555555556

### 3.take temperature from the user and convert Celsius → Fahrenheit.

In [31]:
# Input to enter temperature in Celsius
Celsius = float(input("Enter the temperature in Celsius: "))
Fahrenheit = (Celsius*9/5)+32
print(f" Temperature in Fahrenheit is {Fahrenheit}")

Enter the temperature in Celsius:  60.2

 Temperature in Fahrenheit is 140.36

### 4. take four number from the user (variables name it as x1,x2,x3,x4)
```
Do the below operations
 (x1+x2)**2, (x3+x4)**3
variance
standard deviation: sqrt(variance):  User math module. Math.sqrt(variance)
Regression
	y=mx+b
    m=1.23
    b=0.045
    find out y
    y=m*(x1+x2+x3+x4)+b
Find the average of four numbers
Find the sum of four numbers
```

In [9]:
import math

# Input values
x1 = int(input("Enter value of x1: "))
x2 = int(input("Enter value of x2: "))
x3 = int(input("Enter value of x3: "))
x4 = int(input("Enter value of x4: "))

# Store values in a list
values = [x1, x2, x3, x4]

# Calculate the sum and mean
total_sum = sum(values)
mean = total_sum / len(values)

# Other calculations
m = 1.23
b = 0.045
y = m * total_sum + b

# Calculate variance and standard deviation
sq_sum_diff = sum((x - mean) ** 2 for x in values)
variance = sq_sum_diff / (len(values) - 1)  # Use len(values) - 1 for sample variance
standard_deviation = math.sqrt(variance)

# Specific calculations
result1 = (x1 + x2) ** 2
result2 = (x3 + x4) ** 3

# Output the results
print(f"value of (x1+x2)**2 is {result1}")
print(f"value of (x3+x4)**3 is {result2}")
print(f"Average of 4 numbers = {mean}")
print(f"Sum of 4 numbers = {total_sum}")
print(f"Variance = {variance}")
print(f"Standard Deviation = {standard_deviation}")

Enter value of x1:  10
Enter value of x2:  20
Enter value of x3:  30
Enter value of x4:  40

value of (x1+x2)**2 is 900
value of (x3+x4)**3 is 343000
Average of 4 numbers = 25.0
Sum of 4 numbers = 100
Variance = 166.66666666666666
Standard Deviation = 12.909944487358056

In [21]:
import math
x1 = int(input("Enter value of x1: "))
x2 = int(input("Enter value of x2: "))
x3 = int(input("Enter value of x3: "))
x4 = int(input("Enter value of x4: "))
values = [x1,x2,x3,x4]
total_sum = sum(values)
print(total_sum)
mean = total_sum / len(values)
print(mean)
m = 1.23
b = 0.045
y = m*total_sum+b
# calculate squared differences
sum_sqd_numbers = 0
sqd_numbers = []
for x in values:
    sqd = (x - mean) ** 2
    sum_sqd_numbers += sq
    sqd_numbers.append(sq)
variance = sum_sqd_numbers/(len(values)-1)
standard_deviation = math.sqrt(variance)
result1 = (x1+x2)**2
result2 = (x3+x4)**3
print(f"value of (x1+x2)**2 is {result1}\nvalue of (x3+x4)**3 is {result2}\naverage of 4 numbers = {mean}\nsum of 4 numbers = {total_sum}\nvariance={variance}\nstandard deviation = {standard_deviation}")

Enter value of x1:  10
Enter value of x2:  20
Enter value of x3:  30
Enter value of x4:  40

100
25.0
value of (x1+x2)**2 is 900
value of (x3+x4)**3 is 343000
average of 4 numbers = 25.0
sum of 4 numbers = 100
variance=166.66666666666666
standard deviation = 12.909944487358056

### 5.Take the distance in km. Show that in cm, meters, in milli meters, cents, feets, yards

In [39]:
km = float(input("distance in km: "))
cm = km*100000
m = km*1000
mm = km*1000000
cents = km*24710.5
ft = km*3280.84
yards = km*1093.61
print(f"{km}km ={cm}cm")
print(f"{km}km ={m}m")
print(f"{km}km ={mm}mm")
print(f"{km}km ={cents}cents")
print(f"{km}km ={ft}ft")
print(f"{km}km ={yards}yards")

distance in km:  9

9.0km =900000.0cm
9.0km =9000.0m
9.0km =9000000.0mm
9.0km =222394.5cents
9.0km =29527.56ft
9.0km =9842.49yards

### 6. Take the size of your hard disk in GB. Show that in MB, KB, TB, PB

In [53]:
GB = float(input("Enter the size of your hard disk in GB: "))
MB = GB*1024
KB = GB*1048576
TB = GB/1024
PB = GB/(1024**2)
print(f"{GB}GB = {MB}MB")
print(f"{GB}GB = {KB}KB")
print(f"{GB}GB = {TB}TB")
print(f"{GB}GB = {PB}PB")

Enter the size of your hard disk in GB:  9

9.0GB = 9216.0MB
9.0GB = 9437184.0KB
9.0GB = 0.0087890625TB
9.0GB = 8.58306884765625e-06PB

###    7.  Take name, age, height from the user and print like below
* The details of the person: Name:name of the person, Age:age of the person, Height:height of the person

In [61]:
name = input("Enter the name of the person: ")
age = input("Enter the age of the person:")
height= input("Enter the height of the person:")
print(f"The details of the person: Name:{name} of the person, Age:{age} of the person, Height:{height} of the person")

Enter the name of the person:  tej
Enter the age of the person: 27
Enter the height of the person: 5'11"

The details of the person: Name:tej of the person, Age:27 of the person, Height:5'11" of the person

### 8. BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person.

In [68]:
height_cm = float(input("Enter height in cm: "))
weight = float(input("Enter weight in kg: "))
height_m = height_cm/100
BMI = weight/(height_m**2)
print(f"BMI is {BMI}")

Enter height in cm:  155
Enter weight in kg:  80

BMI is 33.29864724245577

### 9. 
```
name="Jayaram"
age=1.6
height=3.5356234
weight=10.343856783
By using above inputs print the output
Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344
Note: Use format specifiers(%s, %d, %f)
```

In [90]:
name = "Jayaram"
age = 1.6
height = 3.5356234
weight = 10.343856783
print("Name: %s, Age: %.1f, Height: %.1f, Weight: %.3f"%(name,age,height,weight) )

Name: Jayaram, Age: 1.6, Height: 3.5, Weight: 10.344

### 10. Take three upper case letters from the user convert in to small case.

In [103]:
letter1 = input("Enter first uppercase letter: ")
letter2 = input("Enter second uppercase letter: ")
letter3 = input("Enter third uppercase letter: ")
letter1_lower = chr(ord(letter1)+32)
letter2_lower = chr(ord(letter2)+32)
letter3_lower = chr(ord(letter3)+32)
print(f"The lowercase letters are {letter1_lower},{letter2_lower},{letter3_lower}")

Enter first uppercase letter:  E
Enter second uppercase letter:  R
Enter third uppercase letter:  T

The lowercase letters are e,r,t

### 11. Take base and exponent value from the user and print like in mathematics:
  * example: base=2, exponent=3: 2<sup>3</sup>

  * Use: 2\u00b3

In [121]:
base = int(input("Enter base value: "))
exponent = int(input("Enter exponent value: "))
print(f"Base = {base}, Exponent = {exponent}: {base}^{exponent}")
print(f"Base = {base}, Exponent = {exponent}: {base}\u00b3")

Enter base value:  2
Enter exponent value:  5

Base = 2, Exponent = 5: 2^5
Base = 2, Exponent = 5: 2³

### 12. Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost

In [ ]:
cost1 = float(input("Cost of item 1: "))
cost2 = float(input("Cost of item 2: "))
cost3 = float(input("Cost of item 3: "))
costs = [cost1,cost2,cost3]
total_cost = sum(costs)
avg_cost = total_cost/len(costs)
max_cost = max(costs)
min_cost = min(costs)
print(f"Total Cost: {total_cost:.2f}/-\nAverage cost: {avg_cost:.2f}/-\nMaximun Cost: {max_cost:.2f}/-\nMinimum Cost: {min_cost:.2f}/-")

## COnditional Statements
### 13. Take the input from the user for(Total number of people, total number of buses, Number of seats for bus, adjust factor). Based on four inputs.Decide whether there is sufficient buses or not and give solution for how many extra buses required.

In [54]:
people = int(input("Enter total number of people:"))
buses = int((input("Enter total number of buses:")))
seats = int(input("Enter number of seats for bus:"))
adjust_factor = int(input("Enter adjust factor:"))
if people%seats>adjust_factor:
    buses_required = (people+seats+adjust_factor-1)//seats
else:
    buses_required = (people+seats-1)//seats
if buses_required>buses:
    extra_buses = buses_required - buses
else:
    extra_buses = 0
    
print(f"total number of buses required is {buses_required} and extra buses needed are {extra_buses}")

Enter total number of people: 100
Enter total number of buses: 6
Enter number of seats for bus: 20
Enter adjust factor: 3

total number of buses required is 5 and extra buses needed are 0

### 14.Take number from the user decide whether it is even or odd.

In [35]:
number = int(input("Enter a number:"))
if number%2==0:
    print("Given number is even")
else:
    print("Given number is odd")

Enter a number: 15

Given number is odd

### 15.Take number from the user decide whether it is positive number or negative number

In [42]:
number = float(input("Enter a number:"))
if number>0:
    print("Given number is positive number")
elif number==0:
    print("Given number is zero")
else:
    print("Given number is negative number")

Enter a number: 0

Given number is zero

### 16.Take a string from the user print the length. if the user not given anything then show an error message

In [50]:
data = input("Enter the data:")
if len(data)==0:
    print("Enter valid data")
print(data)

Enter the data: dfghjkl fghjkl

dfghjkl fghjkl

### 17. code to perform mathematical operations. take two numbers from the user and show the below menu
1. ADD
2. SUB
3. MUL
4. DIV
5. QUIT

In [15]:
num1 = input("Enter the number1:")
num2 = input("Enter the number2:")
print("1.add\n2.sub\n3.mul\n4.div\n5.quit")
option = input("Enter an option:")
if option == '1':
    addition = float(num1)+float(num2)
    print(f"{num1}+{num2}={addition}")
elif option == '2':
    subtraction = float(num1)-float(num2)
    print(f"{num1}-{num2}={subtraction}")
elif option == '3':
    multiply = float(num1)*float(num2)
    print(f"{num1}x{num2}={multiply}")
elif option == '4':
    division = float(num1)/float(num2)
    print(f"{num1}/{num2}={division}")
elif option == '5':
    print("quit")
else:
    print("Enter a valid option")

Enter the number1:
Enter the number2:

1.add
2.sub
3.mul
4.div
5.quit

Enter an option: 6

Enter a valid option

### 18. show the menu:
1. kids
2. Men
3. Women
### Show the corresponding message based on the selection.
* Option:1: you are a kid
* OPtion:2: you are a gentlemen
* Option:3: you are a good women

### Mention error message if the option value >3.

In [22]:
print("1.kid\n2.man\n3.woman")
option = input("Enter a value:")
if option =='1':
    print("you are a kid")
elif option == '2':
    print("you are a gentlemen")
elif option == '3':
    print("you are a good woman")
else:
    print("Enter a valid option")

1.kid
2.man
3.woman

Enter a value: 1

you are a kid

### 19. write a program to check given substring is there in actual string or not?
* example: act="python is a pure object oriented programing language"
* check whether “pure” is there in act or not.
* **Note:** Use in operator

In [28]:
act = input("Enter a sentence:")
word = input("Enter the word to search in sentence:")
if word in act:#print yes if the word is present in sentence
    print("yes")
else:
    print("no")

Enter a sentence: python is a pure object oriented programing language
Enter the word to search in sentence: language

yes

### 20. Take three numbers from the user and decide which is big

In [35]:
num1 = input("Enter the first number:")
num2 = input("Enter the second number:")
num3 = input("Enter the third number:")
if float(num1)>float(num2) and float(num1)>float(num3):
    print(f"{num1} is bigger")
elif float(num2)>float(num1) and float(num2)>float(num3):
    print(f"{num2} is bigger")
else:
    print(f"{num3} is bigger")

Enter the first number: 5
Enter the second number: 5
Enter the third number: 5

5 is bigger

###  21. Take age and gender from the user and decide whether he/she is eligible for marriage in India or not.
* Age criteria: men age>24, women>21

In [43]:
age = input("Enter the age:")
gender = input("Enter the gender(male/female):")
# Check eligibility for marriage based on gender and age
if gender == 'male':
    if int(age)>24:
      print("you are eligible for marriage in India")
    else:
      print("You are not eligible for marriage in India")
elif gender == 'female':
    if int(age)>21:
        print("you are eligible for marriage in India")
    else:
        print("You are not eligible for marriage in India")
        
else:
    print("Invalid gender. Please enter male or female")

Enter the age:
Enter the gender(male/female):

Invalid gender. Please enter male or female

### 22. Take an age  and gender from the user: and mention that what he/she can 	do in india.
* **conditions:**
    1. Theatre: 5 for men 7 for women
    2. Voting system: 18 for men and women
    3. Marriage in india: 23 for men and for women >21
    4. For govt jobs: (min:18, max:32)  for men and (min:18, max:34) for women
    5. For driving licence: (min:18, max:60) for men and women
* **Eligibility:**
    1. theatre
    2.  Voting system
    3.  Marriage in india
    4.  For govt obs
    5. For driving licence:
* Enter an option:
    * Gender:
        1. men
        2. women
* Enter an option:
* Enter an age of person:

In [53]:
# Display options to the user
print("Eligibility:\n\t1. Theatre\n\t2. Voting system\n\t3. Marriage in India\n\t4. Government jobs\n\t5. Driving license")

# Get user input for options and details
option = input("Enter the option (1-5): ")
print("Gender:\n\t1. Men\n\t2. Women")
gender_option = input("Enter the gender option (1-2): ")
age = int(input("Enter the age of the person: "))

# Check eligibility based on gender and option
if gender_option == '1':  # Men
    if option == '1' and age >= 5:
        print("Eligible for theatre in India.")
    elif option == '2' and age >= 18:
        print("Eligible for voting in India.")
    elif option == '3' and age >= 23:
        print("Eligible for marriage in India.")
    elif option == '4' and 18 <= age <= 32:
        print("Eligible for government jobs in India.")
    elif option == '5' and 18 <= age <= 60:
        print("Eligible for a driving license in India.")
    else:
        print("Not eligible or invalid option.")

elif gender_option == '2':  # Women
    if option == '1' and age >= 7:
        print("Eligible for theatre in India.")
    elif option == '2' and age >= 18:
        print("Eligible for voting in India.")
    elif option == '3' and age > 21:
        print("Eligible for marriage in India.")
    elif option == '4' and 18 <= age <= 34:
        print("Eligible for government jobs in India.")
    elif option == '5' and 18 <= age <= 60:
        print("Eligible for a driving license in India.")
    else:
        print("Not eligible or invalid option.")

else: 
    print("Invalid gender option. Please enter 1 for Men or 2 for Women.")

Eligibility:
	1.theatre
	2.Voting system
	3.Marriage in India
	4.For govt jobs
	5.For driving license

Enter the option(1-5): 1

Gender:
	1.men
	2.women

Enter the gender option(1-2): 1
Enter the age of person: 6

Eligible for theater in India

### 23. operating systems:
	1.windows
	2.android
	3.mac
Enter an option:

* If the user enters 1 then show "Goto first floor and buy windows laptop or mobile"
* If the user enters 2 then show "Goto second floor and buy adroid mobiles"
* If the user enters 3 then show "Goto third floor and buy mac laptop or iphones"
* If the user enters other than 1 or 2 or 3 then show "There is only three floors, please select 1 or 2 or 3"

In [56]:
print("Operating Systems:\n\t1.Windows\n\t2.Android\n\t3.MAC")

option = input("Enter the option(1-3):")
# Checks if option is 1
if option == '1':
    print("Go to first floor and buy windows laptop or mobile")
# Checks if option is 2 
elif option == '2':
    print("Go to second floor and buy android mobiles")
# Checks if option is 3
elif option == '3':
    print("Go to third floor and buy mac laptop or iphones")
else:
    print("There is only three floors, please select 1 or 2 or 3")

Operating Systems:
	1.Windows
	2.Android
	3.MAC

Enter the option(1-3): 3

Go to third floor and buy mac laptop or iphones

### 24.Given an age, figure out whether someone's a baby, toddler, child, teenager, adult or old codger.

In [61]:
age = int(input("Enter the age: "))

# Determine the category based on age
if age < 2:
    print("Baby")
elif 2 <= age < 4:
    print("Toddler")
elif 4 <= age < 13:
    print("Child")
elif 13 <= age < 20:
    print("Teenager")
elif 20 <= age < 65:
    print("Adult")
else:
    print("Old Codger")

Enter the age:  1

Baby

### 25.Take two number a,b from the user and check whether a is divisible by b or not

In [64]:
a = input("Enter number a:")
b= input("Enter number b:")
a = float(a)
b = float(b)
if a%b == 0:
    print(f"{a} is divisible by {b}")
else:
    print(f"{a} is not divisible by {b}")

Enter number a: 130
Enter number b: 12

130.0 is not divisible by 12.0

### 26. Take a letter from the user and print that letter belongs to which category I.e is it a small letter or capital letter or number or special symbol

In [99]:
character = input("Enter a character: ")

# Get the ASCII value of the character
ascii_value = ord(character)

# Check if the character is a special symbol
if (32 <= ascii_value <= 47) or (58 <= ascii_value <= 64) or (91 <= ascii_value <= 96) or (123 <= ascii_value <= 126):
    print("The given character is a special symbol")
# Check if the character is a number
elif 48 <= ascii_value <= 57:
    print("The given character is a number")
# Check if the character is a capital letter
elif 65 <= ascii_value <= 90:
    print("The given character is a capital letter")
# Check if the character is a small letter
elif 97 <= ascii_value <= 122:
    print("The given character is a small letter")
else:
    print("Invalid input")

Enter a character:  w

The given character is a small letter