# Assignments on variables expressions and statements

### 1. Take the input from the user for(Total number of people,Number of seats for bus. Based on two inputs. Decide how many number of buses required

In [5]:
# Inputs for Number of people and seats
people = int(input("Enter total number of people:"))
seats = int(input("Enter number of seats for bus:"))
buses = (people+seats-1)//seats
print(f"Number of buses required is {buses}")

Enter total number of people: 93
Enter number of seats for bus: 30

Number of buses required is 4

### 2. take temperature from the user and convert Fahrenheit-> Celsius.

In [29]:
# Input to enter temperature in Fahrenheit
Fahrenheit = float(input("enter the temperature in Fahrenheit: "))
Celsius=(Fahrenheit-32)*5/9
print(f"Temperature in celsius is {Celsius}")

enter the temperature in Fahrenheit:  97.8

Temperature in celsius is 36.55555555555556

### 3.take temperature from the user and convert Celsius â†’ Fahrenheit.

In [31]:
# Input to enter temperature in Celsius
Celsius = float(input("Enter the temperature in Celsius: "))
Fahrenheit = (Celsius*9/5)+32
print(f" Temperature in Fahrenheit is {Fahrenheit}")

Enter the temperature in Celsius:  60.2

 Temperature in Fahrenheit is 140.36

### 4. take four number from the user (variables name it as x1,x2,x3,x4)
```
Do the below operations
 (x1+x2)**2, (x3+x4)**3
variance
standard deviation: sqrt(variance):  User math module. Math.sqrt(variance)
Regression
	y=mx+b
    m=1.23
    b=0.045
    find out y
    y=m*(x1+x2+x3+x4)+b
Find the average of four numbers
Find the sum of four numbers
```

In [9]:
import math

# Input values
x1 = int(input("Enter value of x1: "))
x2 = int(input("Enter value of x2: "))
x3 = int(input("Enter value of x3: "))
x4 = int(input("Enter value of x4: "))

# Store values in a list
values = [x1, x2, x3, x4]

# Calculate the sum and mean
total_sum = sum(values)
mean = total_sum / len(values)

# Other calculations
m = 1.23
b = 0.045
y = m * total_sum + b

# Calculate variance and standard deviation
sq_sum_diff = sum((x - mean) ** 2 for x in values)
variance = sq_sum_diff / (len(values) - 1)  # Use len(values) - 1 for sample variance
standard_deviation = math.sqrt(variance)

# Specific calculations
result1 = (x1 + x2) ** 2
result2 = (x3 + x4) ** 3

# Output the results
print(f"value of (x1+x2)**2 is {result1}")
print(f"value of (x3+x4)**3 is {result2}")
print(f"Average of 4 numbers = {mean}")
print(f"Sum of 4 numbers = {total_sum}")
print(f"Variance = {variance}")
print(f"Standard Deviation = {standard_deviation}")

Enter value of x1:  10
Enter value of x2:  20
Enter value of x3:  30
Enter value of x4:  40

value of (x1+x2)**2 is 900
value of (x3+x4)**3 is 343000
Average of 4 numbers = 25.0
Sum of 4 numbers = 100
Variance = 166.66666666666666
Standard Deviation = 12.909944487358056

In [21]:
import math
x1 = int(input("Enter value of x1: "))
x2 = int(input("Enter value of x2: "))
x3 = int(input("Enter value of x3: "))
x4 = int(input("Enter value of x4: "))
values = [x1,x2,x3,x4]
total_sum = sum(values)
print(total_sum)
mean = total_sum / len(values)
print(mean)
m = 1.23
b = 0.045
y = m*total_sum+b
# calculate squared differences
sum_sqd_numbers = 0
sqd_numbers = []
for x in values:
    sqd = (x - mean) ** 2
    sum_sqd_numbers += sq
    sqd_numbers.append(sq)
variance = sum_sqd_numbers/(len(values)-1)
standard_deviation = math.sqrt(variance)
result1 = (x1+x2)**2
result2 = (x3+x4)**3
print(f"value of (x1+x2)**2 is {result1}\nvalue of (x3+x4)**3 is {result2}\naverage of 4 numbers = {mean}\nsum of 4 numbers = {total_sum}\nvariance={variance}\nstandard deviation = {standard_deviation}")

Enter value of x1:  10
Enter value of x2:  20
Enter value of x3:  30
Enter value of x4:  40

100
25.0
value of (x1+x2)**2 is 900
value of (x3+x4)**3 is 343000
average of 4 numbers = 25.0
sum of 4 numbers = 100
variance=166.66666666666666
standard deviation = 12.909944487358056

### 5.Take the distance in km. Show that in cm, meters, in milli meters, cents, feets, yards

In [39]:
km = float(input("distance in km: "))
cm = km*100000
m = km*1000
mm = km*1000000
cents = km*24710.5
ft = km*3280.84
yards = km*1093.61
print(f"{km}km ={cm}cm")
print(f"{km}km ={m}m")
print(f"{km}km ={mm}mm")
print(f"{km}km ={cents}cents")
print(f"{km}km ={ft}ft")
print(f"{km}km ={yards}yards")

distance in km:  9

9.0km =900000.0cm
9.0km =9000.0m
9.0km =9000000.0mm
9.0km =222394.5cents
9.0km =29527.56ft
9.0km =9842.49yards

### 6. Take the size of your hard disk in GB. Show that in MB, KB, TB, PB

In [53]:
GB = float(input("Enter the size of your hard disk in GB: "))
MB = GB*1024
KB = GB*1048576
TB = GB/1024
PB = GB/(1024**2)
print(f"{GB}GB = {MB}MB")
print(f"{GB}GB = {KB}KB")
print(f"{GB}GB = {TB}TB")
print(f"{GB}GB = {PB}PB")

Enter the size of your hard disk in GB:  9

9.0GB = 9216.0MB
9.0GB = 9437184.0KB
9.0GB = 0.0087890625TB
9.0GB = 8.58306884765625e-06PB

###    7.  Take name, age, height from the user and print like below
* The details of the person: Name:name of the person, Age:age of the person, Height:height of the person

In [61]:
name = input("Enter the name of the person: ")
age = input("Enter the age of the person:")
height= input("Enter the height of the person:")
print(f"The details of the person: Name:{name} of the person, Age:{age} of the person, Height:{height} of the person")

Enter the name of the person:  tej
Enter the age of the person: 27
Enter the height of the person: 5'11"

The details of the person: Name:tej of the person, Age:27 of the person, Height:5'11" of the person

### 8. BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person.

In [68]:
height_cm = float(input("Enter height in cm: "))
weight = float(input("Enter weight in kg: "))
height_m = height_cm/100
BMI = weight/(height_m**2)
print(f"BMI is {BMI}")

Enter height in cm:  155
Enter weight in kg:  80

BMI is 33.29864724245577

### 9. 
```
name="Jayaram"
age=1.6
height=3.5356234
weight=10.343856783
By using above inputs print the output
Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344
Note: Use format specifiers(%s, %d, %f)
```

In [90]:
name = "Jayaram"
age = 1.6
height = 3.5356234
weight = 10.343856783
print("Name: %s, Age: %.1f, Height: %.1f, Weight: %.3f"%(name,age,height,weight) )

Name: Jayaram, Age: 1.6, Height: 3.5, Weight: 10.344

### 10. Take three upper case letters from the user convert in to small case.

In [103]:
letter1 = input("Enter first uppercase letter: ")
letter2 = input("Enter second uppercase letter: ")
letter3 = input("Enter third uppercase letter: ")
letter1_lower = chr(ord(letter1)+32)
letter2_lower = chr(ord(letter2)+32)
letter3_lower = chr(ord(letter3)+32)
print(f"The lowercase letters are {letter1_lower},{letter2_lower},{letter3_lower}")

Enter first uppercase letter:  E
Enter second uppercase letter:  R
Enter third uppercase letter:  T

The lowercase letters are e,r,t

### 11. Take base and exponent value from the user and print like in mathematics:
  * example: base=2, exponent=3: 2<sup>3</sup>

  * Use: 2\u00b3

In [121]:
base = int(input("Enter base value: "))
exponent = int(input("Enter exponent value: "))
print(f"Base = {base}, Exponent = {exponent}: {base}^{exponent}")
print(f"Base = {base}, Exponent = {exponent}: {base}\u00b3")

Enter base value:  2
Enter exponent value:  5

Base = 2, Exponent = 5: 2^5
Base = 2, Exponent = 5: 2Â³

### 12. Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost

In [ ]:
cost1 = float(input("Cost of item 1: "))
cost2 = float(input("Cost of item 2: "))
cost3 = float(input("Cost of item 3: "))
costs = [cost1,cost2,cost3]
total_cost = sum(costs)
avg_cost = total_cost/len(costs)
max_cost = max(costs)
min_cost = min(costs)
print(f"Total Cost: {total_cost:.2f}/-\nAverage cost: {avg_cost:.2f}/-\nMaximun Cost: {max_cost:.2f}/-\nMinimum Cost: {min_cost:.2f}/-")

## COnditional Statements
### 13. Take the input from the user for(Total number of people, total number of buses, Number of seats for bus, adjust factor). Based on four inputs.Decide whether there is sufficient buses or not and give solution for how many extra buses required.

In [54]:
people = int(input("Enter total number of people:"))
buses = int((input("Enter total number of buses:")))
seats = int(input("Enter number of seats for bus:"))
adjust_factor = int(input("Enter adjust factor:"))
if people%seats>adjust_factor:
    buses_required = (people+seats+adjust_factor-1)//seats
else:
    buses_required = (people+seats-1)//seats
if buses_required>buses:
    extra_buses = buses_required - buses
else:
    extra_buses = 0
    
print(f"total number of buses required is {buses_required} and extra buses needed are {extra_buses}")

Enter total number of people: 100
Enter total number of buses: 6
Enter number of seats for bus: 20
Enter adjust factor: 3

total number of buses required is 5 and extra buses needed are 0

### 14.Take number from the user decide whether it is even or odd.

In [35]:
number = int(input("Enter a number:"))
if number%2==0:
    print("Given number is even")
else:
    print("Given number is odd")

Enter a number: 15

Given number is odd

### 15.Take number from the user decide whether it is positive number or negative number

In [42]:
number = float(input("Enter a number:"))
if number>0:
    print("Given number is positive number")
elif number==0:
    print("Given number is zero")
else:
    print("Given number is negative number")

Enter a number: 0

Given number is zero

### 16.Take a string from the user print the length. if the user not given anything then show an error message

In [50]:
data = input("Enter the data:")
if len(data)==0:
    print("Enter valid data")
print(data)

Enter the data: dfghjkl fghjkl

dfghjkl fghjkl