In [3]:
# Task - 01

Number_of_people = int(input("Enter number of people : "))
No_of_seats = int(input("Enter number of seats in a Bus : "))
print(f"The total number of people are {Number_of_people} members, and Number of seats in a bus are {No_of_seats}")

import math
No_of_busses_required = math.ceil(Number_of_people/No_of_seats)
print(f"{No_of_busses_required} number of busses required for {Number_of_people} people")

Enter number of people :  120
Enter number of seats in a Bus :  25

The total number of people are 120 members, and Number of seats in a bus are 25
5 number of busses required for 120 people

In [21]:
# Temperature from farenhits to celcius
# Task - 02

Temp_f = int(input("Enter temperature in F* : "))

Temp_celcius = 5/9 * (Temp_f - 32)
print(f"The value of the temperatur in Fareheats is {Temp_f} F  and Celcius is {Temp_celcius:.2F} 'c .")

Enter temperature in F* :  34

The value of the temperatur in Fareheats is 34 F  and Celcius is 1.11 'c .

In [23]:
# Task - 03

Temp_celcius = int(input("Enter temperature in celcius : "))
temp_in_f = (9/5 * Temp_celcius) + 32

print(f"The temperature in celcius is {Temp_celcius}'c  and Temperature in farehits is {temp_in_f} F")

Enter temperature in celcius :  34

The temperature in celcius is 34'c  and Temperature in farehits is 93.2 F

In [76]:
# Task - 04
import statistics 
import math

x1 = int(input("Enter value of x1 : "))
x2 = int(input("Enter value of x2 : "))
x3 = int(input("Enter value of x3 : "))
x4 = int(input("Enter value of x4 : "))


#print(f"The value of (x1 + x2)**2 is {(x1 + x2)**2}")

#print(f"The value of (x3 + x4)**3 is {(x3 + x4)**3}")

x =[x1, x2, x3, x4]

variance= statistics.variance(x)

print(f"The value of variance is {variance:.2f} ")

y = variance ** 0.5
print(f"The standard deviation {y:.2f}")

z = math.sqrt(variance)
print(f"The math module deviation {z:.2f}")

# y = mx + b
m = 1.23
b = 0.045

sum = x1 + x2 + x3 + x4
y = m*sum + b
print(f"The value of y is {y}")

print(f"The sum of all x values is {sum} and average of x values are {sum/4}")

Enter value of x1 :  12
Enter value of x2 :  14
Enter value of x3 :  16
Enter value of x4 :  18

The value of variance is 6.67
The standard deviation 2.58
The math module deviation 2.58
The value of y is 73.845
The sum of all x values is 60 and average of x values are 15.0

In [78]:
# Task - 05

distance_km = int(input("Enter the distance value in km : "))
meters = distance_km * 1000
centimeters = distance_km * 100000
millimeters = distance_km * 1000000
feet = distance_km * 3280.84
yards = distance_km * 1093.61

print(f"The distance in Km is {distance_km} km, {meters}m, {centimeters}cm, {millimeters}mm, {feet}ft and {yards}yrds.")

Enter the distance value in km :  12

The distance in Km is 12 km, 12000m, 1200000cm, 12000000mm, 39370.08ft and 13123.32yrds.

In [84]:
# Task - 06

storage_gb  =  int(input("Enter the value in GB : "))

storage_mb = storage_gb * 1024
storage_kb = storage_gb * 1024 * 1024
storage_tb = storage_gb / 1024
storage_pb = storage_gb / (1024 ** 2)
    

print(f"The value in GB {storage_gb} GB ")
print(f"value in in mega bytes {storage_mb} MB")
print(f"The value in kilo bytes {storage_kb} KB")
print(f"The value in Tera Bytes {storage_tb} TB")
print(f"The value in peta bytes {storage_pb} PB")

Enter the value in GB :  14

The value in GB 14 GB
value in in mega bytes 14336 MB
The value in kilo bytes 14680064 KB
The value in Tera Bytes 0.013671875 TB
The value in peta bytes 1.33514404296875e-05 PB

In [86]:
# Task - 07

name = input("Enter name of the person : ")
age = int(input("Enter age : "))
Height = float(input("Enter Height : "))

print(f"The details of the person : Name : {name}, Age : {age}, and  Height : {Height}")

Enter name of the person :  Vinai Badineni
Enter age :  23
Enter Height :  6.1

The details of the person : Name : Vinai Badineni, Age : 23, Height : 6.1

In [94]:
# Task - 08

weight = int(input("Enter weight : "))

height = float(input("Enter height : "))


# Body Mass Index

BMI = weight/(height ** 2)

print(f"The weight is {weight} and Height is {height}, then the BMI is {BMI:.3f}")

Enter weight :  59
Enter height :  5.2

The weight is 59 and Height is 5.2, then the BMI is 2.182

In [106]:
# Task - 09

name="Jayaram"
age=1.6
height=3.5356234
weight=10.343856783

print("Name:%s, Age:%f, Height:%2f, Weight:%3f"%(name, age, height, weight))

Name:Jayaram, Age:1.600000, Height:3.535623, Weight:10.343857

In [130]:

# Task - 10

# s = input("Enter the letter in uppercase : ")
# print(ord(s))
# # chr(ord(s)+32)  # a

str = input("Enter the input in : ")

print(str.lower())

str2 = "OIKLDSXLK1SA"
print(str2.lower())

Enter the input in :  OIDLKLK

oidlklk
oikldsxlk1sa

In [153]:
# Task - 11

base = int(input("Enter base value : "))
exponent = int(input("Enter Exponent value : "))

print(f"The out put : {base ** exponent}" )
print(f"{base}^{exponent}")

Enter base value :  3
Enter Exponent value :  5

The out put : 243
3^5

In [198]:
# Task - 12

# Groceries 


price1 = int(input("Enter price 1 : "))
price2 = int(input("Enter price 2 : "))
price3 = int(input("Enter price 3 : "))
price4 = int(input("Enter price 4 : "))
price5 = int(input("Enter price 5 : "))

list_prices = [price1, price2, price3, price4, price5]

min_cost = min(list_prices)
max_cost = max(list_prices)
# avg_cost = sum(cost_prices)/len(cost_prices)
# k = float(avg_cost)

k = (price1 + price2 + price3 + price4 + price5)
a = len(list_prices)
avg = k/a
print(avg)

print(f"The min cost is : {min_cost} , maximum cost is : {max_cost}, avg cost is : {k/a}")

Enter price 1 :  130
Enter price 2 :  100
Enter price 3 :  120
Enter price 4 :  200
Enter price 5 :  160

142.0
The min cost is : 100 , maximum cost is : 200, avg cost is : 142.0